<!DOCTYPE html>
<html>
<head>
    <title>Hospital CRUD</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Hospital Management</h1>
        <nav>
            <a href="/">Home</a> | <a href="/create">Add Hospital</a>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>
